<launch>  
	<arg name="map_size_x" value="70.0"/>
	<arg name="map_size_y" value="30.0"/>
	<arg name="map_size_z" value=" 3.0"/>

   <!-- Simulator -->
   <node pkg="usv_2d_simulator"
         type="usv_simulator"
         name="usv_simulator"
         output="screen">
     <param name="rate/odom" value="100.0"/>

     <param name="simulator/init_state_x" value="$(arg init_x)"/>
     <param name="simulator/init_state_y" value="$(arg init_y)"/>
	 	 <param name="simulator/init_state_yaw" value="$(arg init_yaw)"/>
     <remap from="~odom" to="/sim/odom"/>
     <remap from="~cmd" to="/so2_cmd"/>
     <remap from="~imu" to="/sim/imu"/>     
   </node>

    <!-- map -->
    <node pkg ="map_generator" name ="random_forest" type ="random_forest" output = "screen">    
			<param name="map/x_size"     value="34" />
			<param name="map/y_size"     value="15" />
			<param name="map/z_size"     value="3.0" />
			<param name="map/resolution" value="0.1"/>        
			<param name="ObstacleShape/seed" value="1"/>
			
			<param name="map/obs_num"    value="60"/>
			<param name="ObstacleShape/lower_rad" value="0.5"/>
			<param name="ObstacleShape/upper_rad" value="0.5"/>
			<param name="ObstacleShape/lower_hei" value="2.0"/>
			<param name="ObstacleShape/upper_hei" value="3.0"/>        

			<param name="map/circle_num" value="20"/>        
			<param name="ObstacleShape/radius_l" value="1.0"/>        
			<param name="ObstacleShape/radius_h" value="1.2"/>        
			<param name="ObstacleShape/z_l" value="0.7"/>        
			<param name="ObstacleShape/z_h" value="3.0"/>        
			<param name="ObstacleShape/theta" value="0.5"/>        
	
			<param name="pub_rate"   value="1.0"/>  
			<param name="min_distance" value="0.8"/>         
		</node>

		<!-- use simulator -->
    <include file="$(find ego_planner)/launch/simulator.xml">
			<arg name="drone_id" value="$(arg drone_id)"/>
			<arg name="map_size_x_" value="$(arg map_size_x)"/>
			<arg name="map_size_y_" value="$(arg map_size_y)"/>
			<arg name="map_size_z_" value="$(arg map_size_z)"/>
			<arg name="init_x_" value="$(arg init_x)"/>
			<arg name="init_y_" value="$(arg init_y)"/>
			<arg name="init_z_" value="$(arg init_z)"/>
			<arg name="odometry_topic" value="$(arg odom_topic)" />
	</include>

   <node name="rviz" pkg="rviz" type="rviz"
      args="-d $(find usv_2d_simulator)/config/rviz.rviz"
      />
 </launch>
